fastapi==0.110.0
uvicorn==0.29.0
pydantic==1.10.13
numpy==1.26.4
Pillow==10.3.0
onnxruntime==1.17.3
insightface==0.7.3
opencv-python==4.9.0.80
scikit-image==0.25.2
matplotlib==3.10.3
tqdm==4.67.1
onnx==1.14.1
prettytable==3.16.0
python-multipart==0.0.9
requests==2.31.0
albumentations==1.3.1  
cython==3.0.10
pytest==7.4.4

